*{
    margin: 0;
    padding: 0;

}
.main{
    width:auto ;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%,);
    background-position: center;
    background-size: cover;
    height: 109vh;
    
    border: 2px solid;

    padding: none; 
    
    resize: horizontal;

    overflow: auto;
  }


.navbar{
    width: auto;
    height: 75px;
    margin: auto;
}


.menu{
    width: 400px;
    float: left;
    height: 70px;
}


.footer{
    background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
#mySidenav a {
    position: absolute;
    right: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 10px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    right: 0;
  }
  
  #about {
    top: 20px;
    background-color: #04AA6D;
  }
  
  #blog {
    top: 80px;
    background-color: #2196F3;
  }
  
  #projects {
    top: 140px;
    background-color: #f44336;
  }
  
  #contact {
    top: 200px;
    background-color: #555
  }
  .body {
    font-family: 'Lato', sans-serif;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #4c5eaf;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  .button {
    background-color: #4c5eaf;
    border: #333;
    color: #4c5eaf;
    padding: 60px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: auto solid transparent;
    margin: 4px 2px;
    cursor: pointer;
    
    
  }
  .button:hover{
    border: #2196F3;
    background: #2196F3;
    transition: 1s;
  }
  .button:focus{
    outline: none;
  }
  
  ul, #myUL {
    
    padding-left: 50px;
    list-style-type: none;
    color: #f2f2f2;
    position: relative;
    font-size: 30px;
  }
  
  #myUL {
    margin: 0;
    padding: 0;
    
  }
  
  .caret {
   
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .caret::before {
    content: "\25B6";
    color: blue;
    display: inline-block;
    margin-right: 6px;
  }
  
